/* Цвета текст
Первичный #212121
Вторичный #757575
Акцент #2196F3
Белый #FFFFFF
rgba(255, 255, 255, 0.6)
*/
/* Цвета фон
Первичный #FFFFFF
Вторичный #F5F4FA
Акцент #188CE8
Третичный #2F303A
Переход после хедера #ECECEC
 */

:root {
    --primary-text-color: #212121;
    --secondary-text-color: #757575;
    --accent-color: #2196F3;
    --white-text-color: #FFFFFF;
    --white-transparent-text-color: rgba(255, 255, 255, 0.6);

    --primary-background-color: #FFFFFF;
    --secondary-background-color: #F5F4FA;
    --thirdary-background-color: #2F303A;
    --accent-background: #188CE8;
}

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    color: var(--secondary-text-color);
    background-color: var(--primary-background-color);
    font-family: Roboto, sans-serif;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 0.03em;
}

.title {
    color: var(--primary-text-color)
}

.list {
    list-style: none;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px 0px;
}

.container {
    outline: 2px solid tomato;
    width: 1600px;
    margin: 0 auto;
}

.button {
    background-color: #FFFFFF;
    border: 1px solid transparent;
    color: #000000;
    border-radius: 4px;
    min-width: 200px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.button.primary {
    background-color: var(--accent-background);
    color: var(--white-text-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    display: inline-block;
    padding: 11px 32px;
    padding-top: 9px;
    text-align: center;
}

.link {
    text-decoration-line: none;
}

/* Logo */
.logo {
    color: #000000;
    text-decoration-line: none;
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.17;
}

.logo .span {
    color: var(--accent-color);
}

footer .logo {
    color: #FFFFFF;
}

.text {
    margin-top: 0px;
    margin-bottom: 0px;
}


/* Хедер */
header {
    padding: 25px 15px;
}

.site-nav .link {
    color: var(--primary-text-color);
    font-weight: 500;
    line-height: 1.17;
    letter-spacing: 0.02em;
}

.site-nav .link:hover,
.site-nav .link:focus {
    color: var(--accent-color);
}

.header-address {
    color: var(--secondary-text-color);
    font-weight: 500;
    line-height: 1.17;
    letter-spacing: 0.02em;
    font-style: normal;
}

.header-mail,
.header-phone {
    color: var(--secondary-text-color);
    text-decoration-line: none;
}

.header-mail:hover,
.header-mail:focus,
.header-phone:hover,
.header-phone:focus {
    color: var(--accent-color);
}

/* Герой */
.hero {
    text-align: center;
    padding: 200px 15px;
}

.hero-title {
    color: var(--white-text-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    margin-top: 0px;
    margin-bottom: 30px;
    /* min-width: 696px; */
}

.section-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 50px;
}

/* Особенности */

.section-features {
    padding: 94px 15px;
}

.feature-list .title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.17;
}

.feature-list .text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
}

/* Чем мы занимаемся */
.section-work {
    padding: 94px 15px;
    padding-top: 0px;
}

/* Наша команда */
.section-team {
    background-color: var(--secondary-background-color);
    padding: 94px 15px;
}

.team-list .title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
}

.team-list .text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.17;
}

/* Футер */
footer {
    padding: 60px 15px;
}

.footer-address {
    line-height: 1.71;
    font-style: normal;
}

.footer-location {
    color: var(--white-text-color);
    text-decoration-line: none;
}

.footer-mail,
.footer-phone {
    color: var(--white-transparent-text-color);
    text-decoration-line: none;
}

.footer-link:hover,
.footer-link:focus {
    text-decoration-line: underline;
}

.hero,
footer {
    background-color: var(--thirdary-background-color);
}